<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="TT">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-0.89796 -9.927 -5.0869"
        rpy="0 0 0" />
      <mass
        value="6300" />
      <inertia
        ixx="103280"
        ixy="200.49"
        ixz="270.64"
        iyy="85183"
        iyz="-13837"
        izz="50284" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://TT/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://TT/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="trailer_to_right_tire"
    type="continuous">
    <origin
      xyz="-0.92503 -2.2435 -8.1"
      rpy="-1.8703 0 3.1416" />
    <parent
      link="Trailer" />
    <child
      link="Trailer_Right_Tire" />
    <axis
      xyz="1 0 0" />
  </joint>
  <link
    name="Left_Hinge">
    <inertial>
      <origin
        xyz="0.044267 -0.15 -8.8818E-16"
        rpy="0 0 0" />
      <mass
        value="11.976" />
      <inertia
        ixx="0.15149"
        ixy="4.7995E-18"
        ixz="3.3631E-18"
        iyy="0.23945"
        iyz="-4.7924E-34"
        izz="0.23529" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://TT/meshes/Left_Hinge.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://TT/meshes/Left_Hinge.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="base_to_left_hinge"
    type="revolute">
    <origin
      xyz="-1.9162 -11.144 -3.5985"
      rpy="-1.8703 0.0027671 -3.1326" />
    <parent
      link="base_link" />
    <child
      link="Left_Hinge" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-0.55"
      upper="0.55"
      effort="0"
      velocity="0.713" />
  </joint>
  <link
    name="left_front_tire">
    <inertial>
      <origin
        xyz="0.15107 8.8818E-16 -1.7764E-15"
        rpy="0 0 0" />
      <mass
        value="64.49" />
      <inertia
        ixx="14.659"
        ixy="5.9602E-16"
        ixz="-1.0192E-15"
        iyy="8.5568"
        iyz="2.2204E-16"
        izz="8.5568" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://TT/meshes/left_front_tire.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://TT/meshes/left_front_tire.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_hinge_to_tire"
    type="continuous">
    <origin
      xyz="0.175 -0.15 0"
      rpy="1.1065 0 0" />
    <parent
      link="Left_Hinge" />
    <child
      link="left_front_tire" />
    <axis
      xyz="1 0 0" />
  </joint>
  <link
    name="Right_Hinge">
    <inertial>
      <origin
        xyz="0.044267 -0.15 8.8818E-16"
        rpy="0 0 0" />
      <mass
        value="11.976" />
      <inertia
        ixx="0.15149"
        ixy="-1.3398E-17"
        ixz="6.9038E-19"
        iyy="0.23945"
        iyz="-4.3647E-18"
        izz="0.23529" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://TT/meshes/Right_Hinge.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://TT/meshes/Right_Hinge.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="base_to_right_hinge"
    type="revolute">
    <origin
      xyz="0.13369 -11.125 -3.5929"
      rpy="-1.2713 -0.0027671 0.0089599" />
    <parent
      link="base_link" />
    <child
      link="Right_Hinge" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-0.55"
      upper="0.55"
      effort="0"
      velocity="0.7103" />
  </joint>
  <link
    name="right_front_tire">
    <inertial>
      <origin
        xyz="0.15107 8.8818E-16 8.8818E-16"
        rpy="0 0 0" />
      <mass
        value="64.49" />
      <inertia
        ixx="14.659"
        ixy="4.7941E-16"
        ixz="-9.7731E-16"
        iyy="8.5568"
        iyz="-4.4409E-16"
        izz="8.5568" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://TT/meshes/right_front_tire.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://TT/meshes/right_front_tire.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_hinge_to_tire"
    type="continuous">
    <origin
      xyz="0.175 -0.15 0"
      rpy="-2.107 0 0" />
    <parent
      link="Right_Hinge" />
    <child
      link="right_front_tire" />
    <axis
      xyz="1 0 0" />
  </joint>
  <link
    name="Left_Rear_Tire">
    <inertial>
      <origin
        xyz="-0.14893 -1.1102E-16 0"
        rpy="0 0 0" />
      <mass
        value="64.49" />
      <inertia
        ixx="14.659"
        ixy="7.9298E-18"
        ixz="1.4325E-16"
        iyy="8.5568"
        iyz="0"
        izz="8.5568" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://TT/meshes/Left_Rear_Tire.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://TT/meshes/Left_Rear_Tire.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="base_to_left_rear_tire"
    type="continuous">
    <origin
      xyz="-2.14997251927814 -7.75030463891486 -2.39353364070199"
      rpy="-1.34691258524931 0.00276706461655957 -3.13263270623373" />
    <parent
      link="base_link" />
    <child
      link="Left_Rear_Tire" />
    <axis
      xyz="1 0 0" />
  </joint>
  <link
    name="Right_Rear_Tire">
    <inertial>
      <origin
        xyz="0.15107 2.2204E-16 8.8818E-16"
        rpy="0 0 0" />
      <mass
        value="64.49" />
      <inertia
        ixx="14.659"
        ixy="-3.2495E-17"
        ixz="-3.3039E-17"
        iyy="8.5568"
        iyz="0"
        izz="8.5568" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://TT/meshes/Right_Rear_Tire.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://TT/meshes/Right_Rear_Tire.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="base_to_right_rear_tire"
    type="continuous">
    <origin
      xyz="-6.70509660998242E-05 -7.73104108359856 -2.38758445936819"
      rpy="-1.52414008228805 -0.00276706461655957 0.00895994735606072" />
    <parent
      link="base_link" />
    <child
      link="Right_Rear_Tire" />
    <axis
      xyz="1 0 0" />
  </joint>
  <link
    name="Trailer">
    <inertial>
      <origin
        xyz="5.9508E-14 0.17326 -5.4942"
        rpy="0 0 0" />
      <mass
        value="40000" />
      <inertia
        ixx="2459700"
        ixy="9.3985E-10"
        ixz="2.3352E-08"
        iyy="2294600"
        iyz="-85390"
        izz="327600" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://TT/meshes/Trailer.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://TT/meshes/Trailer.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Tractor_to_Trailer"
    type="revolute">
    <origin
      xyz="-0.92503 -7.0773 -4.5337"
      rpy="-1.8703 0 3.1416" />
    <parent
      link="base_link" />
    <child
      link="Trailer" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-1.57"
      upper="1.57"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="Trailer_Left_Tire">
    <inertial>
      <origin
        xyz="0.15105 -5.1514E-14 -3.1974E-14"
        rpy="0 0 0" />
      <mass
        value="64.49" />
      <inertia
        ixx="14.659"
        ixy="4.8916E-18"
        ixz="6.5128E-14"
        iyy="8.5568"
        iyz="2.532E-29"
        izz="8.5568" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://TT/meshes/Trailer_Left_Tire.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://TT/meshes/Trailer_Left_Tire.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="trailer_to_left_tire"
    type="continuous">
    <origin
      xyz="0.92503 -2.2435 -8.1"
      rpy="0 0 0" />
    <parent
      link="Trailer" />
    <child
      link="Trailer_Left_Tire" />
    <axis
      xyz="1 0 0" />
  </joint>
  <link
    name="Trailer_Right_Tire">
    <inertial>
      <origin
        xyz="0.15105 2.0428E-14 5.7288E-14"
        rpy="0 0 0" />
      <mass
        value="64.49" />
      <inertia
        ixx="14.659"
        ixy="5.0182E-14"
        ixz="1.9134E-14"
        iyy="8.5568"
        iyz="0"
        izz="8.5568" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://TT/meshes/Trailer_Right_Tire.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://TT/meshes/Trailer_Right_Tire.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="trailer_to_right_tire"
    type="continuous">
    <origin
      xyz="-0.92503 -2.2435 -8.1"
      rpy="-1.8703 0 3.1416" />
    <parent
      link="Trailer" />
    <child
      link="Trailer_Right_Tire" />
    <axis
      xyz="1 0 0" />
  </joint>
</robot>